@{
    Layout = "_Layout";
}

<div class="container text-center splash-body">
      <h1 class="display-4">Pierre's Bakery</h1>
      <p>A local award-winning bakery with a passion for treats.</p>
      <img id="splash-image" src="~/img/splash.png">
</div>
