@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h1>Add Available Flavor</h1> 
<p>Add an available flavor for <b>@Model.Type</b></p>

@using (Html.BeginForm())
{
  <div class="settings">
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")
  </div>
    <input class = "btn btn-secondary" type="submit" value="Save" />
}