@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h1>Add Available Flavor</h1> 
<p>Add an available flavor for <b>@Model.Type</b></p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")<br><br>

    <input type="submit" value="Save" />
}