@{
  Layout ="_Layout";
}

@model Pierre.Models.FlavorTreat

<h3>Check out @Model.Flavor.Name @Model.Treat.Type</h3>
<p>Would you like to add this treat?</p>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model=>model.FlavorTreatId)

  <input type= "submit" value= "add"/>
}
