@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h1>Add a new Treat to the Menu</h1>

@using (Html.BeginForm())
{
  <div class="settings">
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)

    @Html.Label("Price per treat: $")
    @Html.TextBoxFor(model => model.Price, new { type="number", min="0", max="100" })
  </div>

  <input class = "btn btn-secondary" type="submit" value="Add new treat"/>
}
