@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h1>Delete Treat</h1>
<p>Are you sure you want to delete <b>@Model.Type</b> and all it's information?</p>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}