@{
  Layout ="_Layout";
}

@using Pierre.Models;
@model Pierre.Models.ApplicationUser

<h1>@User.Identity.Name's Cart</h1>
@if (Model.JoinFlavorTreatUser.Count == 0)
{
  <p> you have no treats in your cart</p>
}
else
{
  <table class="table">
    <tr>
      <th>Price</th>
      <th>Treat</th>
    </tr>
    @foreach (var join in Model.JoinFlavorTreatUser)
    {
      <tr>
        <td> @join.FlavorTreatId</td>
      </tr>
    }
    <tr>
        <td> treat name </td>
      </tr>
  </table>
}

