@{
  Layout = "_Layout";
}

@model Pierre.Models.FlavorTreat

<h2>Add treat price</h2>

<h4>Add price for  @Html.DisplayFor(model => model.FlavorTreatId)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorTreatId)

    @Html.LabelFor(model => model.Price)
    @Html.TextBoxFor(model => model.Price)

    <input type="submit" value="Save" />
}
