@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h1>Add Treat</h1>
<p>Make <b>@Model.Name</b> an available flavor for another treat.</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")<br><br>

    <input type="submit" value="Save" />
}