@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h1>Delete Flavor</h1>
<p>Are you sure you want to delete <b>@Model.Name</b> and  all it's information?</p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
