@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h1>Edit flavor: @Html.DisplayFor(model => model.Name)</h1>
<p>Add or remove treats on the main Flavor Menu page.</p>

@using (Html.BeginForm())
{
  <div class="settings">
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
  </div>

    <input class = "btn btn-secondary" type="submit" value="Save" />
}