@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h1>Edit flavor: @Html.DisplayFor(model => model.Name)</h1>
<p>Add or remove treats on the main Flavor Menu page.</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)<br><br>

    <input type="submit" value="Save" />
}